 @font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --green: hsl(75, 94%, 57%);

    --white: hsl(0, 0%, 100%);

    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: var(--grey-900);
    font-family: "Inter", sans-serif;
    padding: clamp(1rem, 3vw, 1.3rem);
}


.card{
    background-color: var(--grey-800) ;
    width: min(19.3rem, 100%);
    padding: clamp(1.6rem, 3vw, 1.8rem);
    border-radius: 1rem;
    text-align: center;
}


.profile{
    border-radius: 50%;
    width: 5.3125rem;
    aspect-ratio: 1;
    margin-block-end: 1.5rem;
}

h1{
    color: var(--white);
    font-size: 1.5625rem;
    font-weight: 700;
    margin-block-end: 0.4rem;
   
}

.location{
    color: var(--green);
    font-size: 0.875rem;
    font-weight: 600;
    margin-block-end: 1.2rem;
    

}

.bio{
    color: var(--white);
    font-size: 0.875rem;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;   
    margin-block-start: 1.2rem;
}

nav a{
   text-decoration: none;
   background-color: var(--grey-700);
   border-radius: 0.25rem;
   padding: clamp(0.75rem, 3vw, 0.78rem);
   color: var(--white);
   text-align: center;
   font-size: 0.875rem;
   font-weight: 600;
}

nav a:hover,
nav a:focus{
    background-color: var(--green);
    color: var(--grey-800);
    cursor: pointer;
         
}
